body {
  margin: 0;
}
#app {
  height: 100vh;
  background: #fafafa;
}
a {
  text-decoration: none;
  color: #409eff;
}
.icon {
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
}
::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 5px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 5px;
}
::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */
  border-radius: 5px;
  background: #fafafa;
}
::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  border-radius: 5px;
  background: #dfdfdf;
  &:hover {
    background: #cfcfcf;
  }
}
