.el-container {
  height: 100%;
}
.el-aside {
  overflow: hidden;
  width: auto;
  background: #304156;
}
.el-header {
  z-index: 10;
  padding: 0;
  background: #fff;
}
.el-main {
  margin-top: 40px;
}
