/* breadcrumb transition */
.breadcrumb-enter-active {
  transition: all 0.6s;
}
.breadcrumb-leave-active {
  position: absolute;
  transition: all 0.6s;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(30px);
}
/* fade-transform */
.fade-transform-enter-active {
  animation: 0.3s slidein;
}
.fade-transform-leave-active {
  animation: 0.3s slideout;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}
