@mixin trim($numLines: null) {
  overflow: hidden;
  @if $numLines != null {
    // stylelint-disable-next-line
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  } @else {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@for $i from 1 through 5 {
  .max-line-#{$i} {
    @include trim($i);
  }
}
